# Node build artifacts
node_modules
npm-debug.log

# Local development
*.env
*.dev
.DS_Store
dist
.build
.serverless

# Docker
docker-compose.yml

# heroku
/node_modules
npm-debug.log
.DS_Store
/*.env
